<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Increment</title>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script src="js/logicWebAPP.js"></script>
</head>

<body>

<div>
    <input type="text" id="inputMaxValue" size="50" placeholder="По умолчанию MAX VALUE = 10"/>
    <button id="setMaxValue">🔒 Установить ограничение 🔒</button>
</div>

</br>
</br>

<div>
    <div style="float: left">Счетчик равен:</div><div id="count" style="float: left; margin-left: 0.5%;"></div>
    </br>
    </br>
    <button id="btnUpCount">⬆ Увеличить счетчик ⬆</button>
</div>

</body>

